.button {
  background-color: lightblue;
  width: 100px;
  height: 30px;
  border: 1px solid black;
  margin: 10px 0px;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  opacity: 0.7;
  cursor: pointer;
}
